.lotPageSidePanel {
    background: var(--box-bg);
    backdrop-filter: var(--box-backgrop-filter);
    box-shadow: var(--box-box-shadow);

    padding: 16px;
    border-radius: 16px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.lotPriceWrapper {
    display: flex;
    gap: 8px;
}

.lotHeadInfo {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.lotInfo {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.makeBetWrapper {
    margin-top: auto;
}